# Pandas Fundamentals I - Part 4: SQL to Pandas Translation

## Week 2, Day 2 (Thursday) - April 17th, 2025

### Overview
This is the fourth part of our introduction to Pandas, continuing from Part 3. In this section, we'll focus more on translating SQL queries to Pandas code and practice with exercises.

### Learning Objectives
- Translate complex SQL queries to Pandas code
- Practice selection and filtering operations
- Apply knowledge to solve practical data manipulation problems

### Prerequisites
- Pandas Fundamentals I - Parts 1, 2, & 3

In [ ]:
# Import libraries
import pandas as pd
import numpy as np

# Create a sample DataFrame to work with - e-commerce sales data
data = {
    'order_id': ['ORD001', 'ORD002', 'ORD003', 'ORD004', 'ORD005', 'ORD006', 'ORD007', 'ORD008'],
    'customer_id': ['CUST01', 'CUST02', 'CUST03', 'CUST01', 'CUST04', 'CUST02', 'CUST05', 'CUST03'],
    'product_id': ['PROD01', 'PROD02', 'PROD03', 'PROD02', 'PROD01', 'PROD04', 'PROD05', 'PROD01'],
    'category': ['Electronics', 'Clothing', 'Books', 'Clothing', 'Electronics', 'Home', 'Electronics', 'Books'],
    'quantity': [1, 2, 3, 1, 1, 2, 1, 2],
    'price': [1200.00, 89.99, 24.95, 89.99, 1200.00, 149.50, 399.99, 1200.00],
    'order_date': ['2025-01-05', '2025-01-07', '2025-01-10', '2025-01-12', '2025-01-15', '2025-01-18', '2025-01-20', '2025-01-22'],
    'payment_method': ['Credit Card', 'PayPal', 'Credit Card', 'Debit Card', 'PayPal', 'Credit Card', 'Debit Card', 'PayPal']
}

# Create DataFrame
sales_df = pd.DataFrame(data)

# Convert order_date to datetime
sales_df['order_date'] = pd.to_datetime(sales_df['order_date'])

# Calculate total amount for each order
sales_df['total_amount'] = sales_df['quantity'] * sales_df['price']

# Display the DataFrame
print("Sales DataFrame:")
print(sales_df)

## 5. SQL to Pandas Translation Examples

Let's practice translating various SQL queries to their Pandas equivalents.

In [ ]:
# Example 1: Basic SELECT with WHERE
# SQL: 
# SELECT order_id, customer_id, product_id, total_amount
# FROM sales
# WHERE total_amount > 1000
# ORDER BY total_amount DESC

# Pandas:
query1 = sales_df.loc[sales_df['total_amount'] > 1000, ['order_id', 'customer_id', 'product_id', 'total_amount']]
query1 = query1.sort_values('total_amount', ascending=False)
print("Example 1 Result:")
print(query1)

# Example 2: Multiple conditions with NOT
# SQL:
# SELECT *
# FROM sales
# WHERE category != 'Electronics' AND quantity > 1

# Pandas:
query2 = sales_df[(sales_df['category'] != 'Electronics') & (sales_df['quantity'] > 1)]
print("\nExample 2 Result:")
print(query2)

# Example 3: LIKE and ORDER BY
# SQL:
# SELECT order_id, product_id, category, price
# FROM sales
# WHERE product_id LIKE 'PROD0%'
# ORDER BY price ASC

# Pandas:
query3 = sales_df.loc[sales_df['product_id'].str.startswith('PROD0'), 
                     ['order_id', 'product_id', 'category', 'price']]
query3 = query3.sort_values('price')
print("\nExample 3 Result:")
print(query3)

# Example 4: BETWEEN and IN with column selection
# SQL:
# SELECT order_id, order_date, payment_method, total_amount
# FROM sales
# WHERE order_date BETWEEN '2025-01-10' AND '2025-01-20'
# AND payment_method IN ('Credit Card', 'PayPal')

# Pandas:
query4 = sales_df.loc[
    (sales_df['order_date'] >= '2025-01-10') & 
    (sales_df['order_date'] <= '2025-01-20') &
    (sales_df['payment_method'].isin(['Credit Card', 'PayPal'])),
    ['order_id', 'order_date', 'payment_method', 'total_amount']
]
print("\nExample 4 Result:")
print(query4)

## 6. Practice Exercises

Now it's your turn to practice translating SQL to Pandas. For these exercises, use the sample sales DataFrame we created at the beginning.

### Exercise 1: Basic Selection

Translate this SQL query to Pandas code:

```sql
SELECT order_id, customer_id, category, total_amount
FROM sales
WHERE customer_id = 'CUST02'
```

In [ ]:
# Your solution here

### Exercise 2: Multiple Conditions

Translate this SQL query to Pandas code:

```sql
SELECT *
FROM sales
WHERE (category = 'Electronics' OR category = 'Books')
AND price < 1000
```

In [ ]:
# Your solution here

### Exercise 3: Advanced Filtering with Sorting

Translate this SQL query to Pandas code:

```sql
SELECT order_id, product_id, order_date, total_amount
FROM sales
WHERE order_date >= '2025-01-15'
AND payment_method != 'Credit Card'
ORDER BY total_amount DESC
LIMIT 3
```

In [ ]:
# Your solution here

### Exercise 4: String Operations and Complex Conditions

For a more challenging exercise, translate this SQL query to Pandas code:

```sql
SELECT order_id, customer_id, product_id, category, 
       price, quantity, total_amount
FROM sales
WHERE (product_id LIKE '%01' OR product_id LIKE '%03')
AND (quantity > 1 OR total_amount > 1000)
AND NOT payment_method = 'Debit Card'
ORDER BY order_date
```

In [ ]:
# Your solution here

## Solutions to Practice Exercises

In [ ]:
# Exercise 1 Solution
exercise1 = sales_df.loc[sales_df['customer_id'] == 'CUST02', 
                         ['order_id', 'customer_id', 'category', 'total_amount']]
print("Exercise 1 Solution:")
print(exercise1)

# Exercise 2 Solution
exercise2 = sales_df[
    ((sales_df['category'] == 'Electronics') | (sales_df['category'] == 'Books')) &
    (sales_df['price'] < 1000)
]
print("\nExercise 2 Solution:")
print(exercise2)

# Exercise 3 Solution
exercise3 = sales_df.loc[
    (sales_df['order_date'] >= '2025-01-15') &
    (sales_df['payment_method'] != 'Credit Card'),
    ['order_id', 'product_id', 'order_date', 'total_amount']
].sort_values('total_amount', ascending=False).head(3)
print("\nExercise 3 Solution:")
print(exercise3)

# Exercise 4 Solution
exercise4 = sales_df.loc[
    ((sales_df['product_id'].str.endswith('01')) | (sales_df['product_id'].str.endswith('03'))) &
    ((sales_df['quantity'] > 1) | (sales_df['total_amount'] > 1000)) &
    (sales_df['payment_method'] != 'Debit Card'),
    ['order_id', 'customer_id', 'product_id', 'category', 'price', 'quantity', 'total_amount']
].sort_values('order_date')
print("\nExercise 4 Solution:")
print(exercise4)

## 7. Introduction to the Thursday Assignment

For this week's Major Group Assignment, you'll be applying the selection and filtering techniques we've learned to a larger dataset. The assignment involves exploring a dataset with Pandas and translating several SQL queries to Pandas code.

### Assignment Overview

1. Load a provided dataset into a Pandas DataFrame
2. Perform exploratory data analysis (EDA) using Pandas
3. Translate a series of SQL queries to their Pandas equivalents
4. Create visualizations to show the results of your queries
5. Document your approach and findings

### Tips for Success

- Review the SQL to Pandas translations we've covered
- Make use of both selection and filtering techniques
- Pay attention to the requirements of each query
- Work together in your groups to solve the problems
- Document your work clearly with comments and explanations

You'll find the assignment starter code and dataset in the Assignments folder for this week. Remember to submit your completed assignment by next Thursday, April 24th.

## 8. Key Takeaways

1. **Column Selection in Pandas**:
   - Use `df[['col1', 'col2']]` for multiple columns
   - Use `df.column_name` dot notation for single columns
   - Use `.loc[:, columns]` for label-based selection
   - Use `.iloc[:, positions]` for position-based selection

2. **Row Filtering in Pandas**:
   - Use boolean masks: `df[df['column'] > value]`
   - Combine conditions with `&` (AND), `|` (OR), and `~` (NOT)
   - Always put parentheses around each condition
   - Use `.isin()` for SQL's IN operator
   - Use string methods with `.str` for pattern matching

3. **Combined Selection and Filtering**:
   - Use `.loc[row_condition, columns]` for efficient selection and filtering
   - Chaining operations: `df[row_condition][columns]` works but is less efficient

4. **SQL to Pandas Translation**:
   - SELECT → Column selection with `df[columns]`
   - WHERE → Boolean masking with `df[condition]`
   - ORDER BY → `.sort_values(column, ascending=True/False)`
   - LIMIT → `.head(n)`
   - IN → `.isin([values])`
   - LIKE → `.str.contains()`, `.str.startswith()`, `.str.endswith()`

These operations form the foundation of data manipulation with Pandas, and mastering them is essential for data analysis in Python.

## Next Steps

In the next week (Week 3), we'll dive deeper into Pandas by exploring more advanced data manipulation techniques:

- Handling missing data
- More complex filtering operations
- Group by operations (similar to SQL GROUP BY)
- Aggregation functions
- Pivot tables and cross-tabulations

Be sure to complete the Week 2 assignments before moving on to Week 3.