# Python Data Structures - Practice Exercises

## Week 1, Day 2 (Thursday) - April 10th, 2025

In these exercises, you'll practice working with Python data structures that are essential for data analysis:
- Lists and list comprehensions
- Tuples
- Dictionaries and dictionary comprehensions
- Sets

Complete each exercise in the code cells provided. Feel free to add more cells if needed.

## Part 1: Lists

### Exercise 1.1: Basic List Operations
Create a list of the first 10 square numbers (1, 4, 9, 16, ...) and then:
- Print the first 3 elements
- Print the last 3 elements
- Print every other element starting from the first

In [ ]:
# Your solution here

### Exercise 1.2: List Methods
Start with the list `data = [3, 7, 2, 9, 5]` and perform the following operations in sequence:
1. Append the value 11
2. Insert the value 4 at index 2
3. Sort the list
4. Reverse the list
5. Remove the value 9

Print the list after each step.

In [ ]:
# Your solution here
data = [3, 7, 2, 9, 5]

### Exercise 1.3: List Comprehensions
Use list comprehensions to create the following lists:
1. A list of all even numbers from 1 to 20
2. A list of the cubes of the first 10 positive integers
3. A list of the first 10 multiples of 7
4. A list containing the letters of the word "Python" in uppercase

In [ ]:
# Your solution here

### Exercise 1.4: Nested Lists
You have sales data for a small store over 3 days, with each day's data stored as [day_number, total_sales, number_of_transactions]:
```
sales_data = [
    [1, 1500.75, 25],
    [2, 2100.50, 32],
    [3, 1800.25, 28]
]
```

Calculate and print:
1. The total sales across all days
2. The day with the highest sales
3. The average number of transactions per day
4. The average sale value per transaction for each day

In [ ]:
# Your solution here
sales_data = [
    [1, 1500.75, 25],
    [2, 2100.50, 32],
    [3, 1800.25, 28]
]

## Part 2: Tuples

### Exercise 2.1: Basic Tuple Operations
Create a tuple containing the names of the months of the year. Then:
- Print the first 3 months
- Print the last 3 months
- Print all months from April to August (inclusive)

In [ ]:
# Your solution here

### Exercise 2.2: Tuple Unpacking
You have a list of employee records, where each record is a tuple containing (name, department, salary).
```
employees = [
    ("Alice Johnson", "Engineering", 85000),
    ("Bob Smith", "Marketing", 70000),
    ("Charlie Davis", "Engineering", 90000),
    ("Diana Wilson", "HR", 65000),
    ("Edward Brown", "Marketing", 75000)
]
```

Use tuple unpacking in a loop to print each employee's details in a formatted string like: "Alice Johnson works in Engineering and earns $85,000 per year."

In [ ]:
# Your solution here
employees = [
    ("Alice Johnson", "Engineering", 85000),
    ("Bob Smith", "Marketing", 70000),
    ("Charlie Davis", "Engineering", 90000),
    ("Diana Wilson", "HR", 65000),
    ("Edward Brown", "Marketing", 75000)
]

### Exercise 2.3: Creating Tuples
You have lists of city data:
```
names = ["New York", "London", "Tokyo", "Paris", "Sydney"]
populations = [8.4, 8.9, 13.9, 2.2, 5.3]  # In millions
countries = ["USA", "UK", "Japan", "France", "Australia"]
```

1. Use the `zip` function to create a list of city tuples, where each tuple contains (name, population, country)
2. Find and print the city with the highest population
3. Sort the cities by name and print the result

In [ ]:
# Your solution here
names = ["New York", "London", "Tokyo", "Paris", "Sydney"]
populations = [8.4, 8.9, 13.9, 2.2, 5.3]  # In millions
countries = ["USA", "UK", "Japan", "France", "Australia"]

## Part 3: Dictionaries

### Exercise 3.1: Basic Dictionary Operations
Create a dictionary to store information about a person (name, age, city, job). Then:
- Add a new key for "email"
- Update the age value
- Check if "salary" is a key in the dictionary
- Get the value for "phone" with a default value of "Not available"
- Remove the "city" key and print its value

In [ ]:
# Your solution here

### Exercise 3.2: Dictionary Iteration
You have a dictionary of student scores:
```
student_scores = {
    "Alice": {"Math": 95, "Science": 88, "English": 92},
    "Bob": {"Math": 85, "Science": 94, "English": 82},
    "Charlie": {"Math": 90, "Science": 91, "English": 88},
    "Diana": {"Math": 92, "Science": 83, "English": 95}
}
```

1. Calculate and print each student's average score
2. Find and print the student with the highest average score
3. Calculate and print the class average for each subject

In [ ]:
# Your solution here
student_scores = {
    "Alice": {"Math": 95, "Science": 88, "English": 92},
    "Bob": {"Math": 85, "Science": 94, "English": 82},
    "Charlie": {"Math": 90, "Science": 91, "English": 88},
    "Diana": {"Math": 92, "Science": 83, "English": 95}
}

### Exercise 3.3: Dictionary Comprehensions
Use dictionary comprehensions to create the following dictionaries:
1. A dictionary mapping numbers 1-10 to their cubes
2. A dictionary mapping names in the list `["apple", "banana", "cherry", "date", "elderberry"]` to their lengths
3. A dictionary filtering out items from `{"a": 1, "b": 2, "c": 3, "d": 4, "e": 5}` where the value is even
4. A dictionary that inverts the key-value pairs in `{"red": "#FF0000", "green": "#00FF00", "blue": "#0000FF"}`

In [ ]:
# Your solution here

## Part 4: Sets

### Exercise 4.1: Basic Set Operations
Create two sets:
- `set_a` containing even numbers from 2 to 20
- `set_b` containing multiples of 3 from 3 to 30

Calculate and print:
1. The union of the two sets
2. The intersection of the two sets
3. Elements that are in `set_a` but not in `set_b`
4. Elements that are in exactly one of the sets (symmetric difference)

In [ ]:
# Your solution here

### Exercise 4.2: Practical Set Applications
You have two lists of customer IDs:
```
customers_2023 = ["C001", "C002", "C003", "C004", "C005", "C006"]
customers_2024 = ["C003", "C004", "C005", "C007", "C008"]
```

Use sets to find:
1. All unique customers across both years
2. Customers who made purchases in both years
3. Customers who made purchases in 2023 but not in 2024
4. Customers who made purchases in 2024 but not in 2023
5. The percentage of customers from 2023 who continued to make purchases in 2024

In [ ]:
# Your solution here
customers_2023 = ["C001", "C002", "C003", "C004", "C005", "C006"]
customers_2024 = ["C003", "C004", "C005", "C007", "C008"]

### Exercise 4.3: Set Comprehensions
Use set comprehensions to create the following sets:
1. A set of squares of numbers from 1 to 15
2. A set of all uppercase letters in the string "Python Programming is Fun"
3. A set of all numbers from 1 to 50 that are divisible by both 3 and 5

In [ ]:
# Your solution here

## Part 5: Combined Data Structures

### Exercise 5.1: E-commerce Data Analysis
You have a list of order data for an e-commerce site:
```
orders = [
    {"order_id": "ORD001", "customer_id": "C101", "product_id": "P123", "quantity": 2, "price": 29.99},
    {"order_id": "ORD002", "customer_id": "C102", "product_id": "P125", "quantity": 1, "price": 49.99},
    {"order_id": "ORD003", "customer_id": "C101", "product_id": "P125", "quantity": 1, "price": 49.99},
    {"order_id": "ORD004", "customer_id": "C103", "product_id": "P123", "quantity": 3, "price": 29.99},
    {"order_id": "ORD005", "customer_id": "C102", "product_id": "P126", "quantity": 2, "price": 19.99},
    {"order_id": "ORD006", "customer_id": "C104", "product_id": "P123", "quantity": 1, "price": 29.99},
    {"order_id": "ORD007", "customer_id": "C101", "product_id": "P126", "quantity": 3, "price": 19.99}
]

products = {
    "P123": {"name": "Premium Headphones", "category": "Electronics"},
    "P125": {"name": "Wireless Keyboard", "category": "Electronics"},
    "P126": {"name": "Mouse Pad", "category": "Accessories"}
}
```

Perform the following analyses:
1. Calculate the total revenue per product
2. Identify the customer with the highest total spending
3. Calculate the average order value by product category
4. Find the most popular product (by quantity sold)
5. Create a dictionary mapping customer IDs to the list of unique products they purchased

In [ ]:
# Your solution here
orders = [
    {"order_id": "ORD001", "customer_id": "C101", "product_id": "P123", "quantity": 2, "price": 29.99},
    {"order_id": "ORD002", "customer_id": "C102", "product_id": "P125", "quantity": 1, "price": 49.99},
    {"order_id": "ORD003", "customer_id": "C101", "product_id": "P125", "quantity": 1, "price": 49.99},
    {"order_id": "ORD004", "customer_id": "C103", "product_id": "P123", "quantity": 3, "price": 29.99},
    {"order_id": "ORD005", "customer_id": "C102", "product_id": "P126", "quantity": 2, "price": 19.99},
    {"order_id": "ORD006", "customer_id": "C104", "product_id": "P123", "quantity": 1, "price": 29.99},
    {"order_id": "ORD007", "customer_id": "C101", "product_id": "P126", "quantity": 3, "price": 19.99}
]

products = {
    "P123": {"name": "Premium Headphones", "category": "Electronics"},
    "P125": {"name": "Wireless Keyboard", "category": "Electronics"},
    "P126": {"name": "Mouse Pad", "category": "Accessories"}
}

## Challenge Exercise

### Exercise 6.1: Data Transformation
You have weather data for a week, stored as a list of dictionaries:
```
weather_data = [
    {"date": "2025-04-01", "city": "New York", "temperature": 65, "conditions": "Sunny"},
    {"date": "2025-04-01", "city": "Los Angeles", "temperature": 78, "conditions": "Sunny"},
    {"date": "2025-04-01", "city": "Chicago", "temperature": 52, "conditions": "Partly Cloudy"},
    {"date": "2025-04-02", "city": "New York", "temperature": 61, "conditions": "Rainy"},
    {"date": "2025-04-02", "city": "Los Angeles", "temperature": 76, "conditions": "Sunny"},
    {"date": "2025-04-02", "city": "Chicago", "temperature": 48, "conditions": "Rainy"},
    {"date": "2025-04-03", "city": "New York", "temperature": 70, "conditions": "Sunny"},
    {"date": "2025-04-03", "city": "Los Angeles", "temperature": 75, "conditions": "Partly Cloudy"},
    {"date": "2025-04-03", "city": "Chicago", "temperature": 56, "conditions": "Sunny"}
]
```

Transform this data into the following structures:
1. A dictionary where keys are cities and values are lists of temperature readings
2. A dictionary where keys are dates and values are dictionaries mapping each city to its temperature on that date
3. A nested dictionary structure like this: `{city: {date: {"temperature": temp, "conditions": cond}}}`
4. A dictionary mapping each weather condition to the set of cities that experienced that condition at least once
5. A list of tuples (city, avg_temp) containing each city and its average temperature over the period, sorted from highest to lowest average temperature

In [ ]:
# Your solution here
weather_data = [
    {"date": "2025-04-01", "city": "New York", "temperature": 65, "conditions": "Sunny"},
    {"date": "2025-04-01", "city": "Los Angeles", "temperature": 78, "conditions": "Sunny"},
    {"date": "2025-04-01", "city": "Chicago", "temperature": 52, "conditions": "Partly Cloudy"},
    {"date": "2025-04-02", "city": "New York", "temperature": 61, "conditions": "Rainy"},
    {"date": "2025-04-02", "city": "Los Angeles", "temperature": 76, "conditions": "Sunny"},
    {"date": "2025-04-02", "city": "Chicago", "temperature": 48, "conditions": "Rainy"},
    {"date": "2025-04-03", "city": "New York", "temperature": 70, "conditions": "Sunny"},
    {"date": "2025-04-03", "city": "Los Angeles", "temperature": 75, "conditions": "Partly Cloudy"},
    {"date": "2025-04-03", "city": "Chicago", "temperature": 56, "conditions": "Sunny"}
]

## Good Work!

You've completed the practice exercises for Python data structures. These skills will be essential as we move forward in the course and begin working with more complex data and the pandas library.

In tomorrow's assignment, you'll apply these concepts to real-world data from the Olist E-commerce dataset.