# Week 6 - SQL and Python Integration Part 1: Database Connections

## Learning Objectives
By the end of this lesson, you will be able to:
1. Establish PostgreSQL database connections from Python using SQLAlchemy
2. Connect to cloud databases (Supabase) for real-world data analysis
3. Execute SQL queries from Python notebooks using real e-commerce data
4. Understand the relationship between SQL databases and Python DataFrames
5. Implement proper connection management and error handling
6. Compare SQL and Pandas approaches for business analytics

## Business Context: Bridging SQL and Python

In modern business environments, data often lives in **cloud databases** while analysis happens in **Python**. The ability to seamlessly bridge these two worlds is essential for:

- **Real-time Data Access** - Connect directly to live business systems
- **Scalability** - Handle enterprise-scale datasets
- **Collaboration** - Multiple analysts accessing the same data source
- **Performance** - Leverage database engines for heavy computation
- **Integration** - Combine SQL's querying power with Python's analytical capabilities

Today we'll master connecting Python to **PostgreSQL databases** using **Supabase** (a cloud database platform) and work with real Olist e-commerce data that's already stored in the cloud.

In [30]:
# Import required libraries for PostgreSQL database connectivity
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine, text, inspect
from datetime import datetime, timedelta
import warnings
import os
from dotenv import load_dotenv

warnings.filterwarnings('ignore')

# Load environment variables from .env file
load_dotenv()

# Supabase PostgreSQL Database Configuration from environment variables
DATABASE_CONFIG = {
    'host': os.getenv('POSTGRES_HOST'),
    'port': int(os.getenv('POSTGRES_PORT', 5432)),
    'database': os.getenv('POSTGRES_DATABASE'),
    'user': os.getenv('POSTGRES_USER'),
    'password': os.getenv('POSTGRES_PASSWORD'),
    'connection_timeout': 30,
    'echo': False  # Set to True to see SQL queries
}

# Verify that environment variables were loaded
if not all([DATABASE_CONFIG['host'], DATABASE_CONFIG['user'], DATABASE_CONFIG['password']]):
    raise ValueError("Missing required database credentials. Please check your .env file.")

# PostgreSQL connection string
POSTGRES_URL = f"postgresql://{DATABASE_CONFIG['user']}:{DATABASE_CONFIG['password']}@{DATABASE_CONFIG['host']}:{DATABASE_CONFIG['port']}/{DATABASE_CONFIG['database']}"

print("🐘 PostgreSQL-Python Integration Environment Ready!")
print(f"SQLAlchemy version: {sqlalchemy.__version__}")
print(f"Pandas version: {pd.__version__}")
print("✅ Connecting to Supabase PostgreSQL Database...")
print("🗄️ Real Olist E-commerce & Marketing data awaits!")
print("🔒 Database credentials loaded securely from .env file")

🐘 PostgreSQL-Python Integration Environment Ready!
SQLAlchemy version: 2.0.41
Pandas version: 2.3.0
✅ Connecting to Supabase PostgreSQL Database...
🗄️ Real Olist E-commerce & Marketing data awaits!
🔒 Database credentials loaded securely from .env file

## 1. SQLAlchemy Basics and PostgreSQL Connection

**SQLAlchemy** is Python's most popular database toolkit. It provides:
- **Connection Management**: Handle database connections efficiently
- **SQL Query Execution**: Run SQL directly from Python
- **ORM (Object-Relational Mapping)**: Map Python objects to database tables
- **Database Abstraction**: Work with different databases using the same API

**PostgreSQL** is an enterprise-grade database that excels at:
- **Complex Queries**: Advanced SQL features like window functions, CTEs
- **Scalability**: Handle millions of rows efficiently  
- **Data Integrity**: ACID compliance for business-critical data
- **JSON Support**: Store and query semi-structured data

In [ ]:
# PostgreSQL Connection Functions (Functional Programming Approach)

def create_database_engine():
    """
    Create and configure PostgreSQL database engine with optimal settings.
    Returns configured SQLAlchemy engine.
    """
    try:
        engine = create_engine(
            POSTGRES_URL,
            echo=DATABASE_CONFIG['echo'],
            pool_size=5,
            max_overflow=10,
            pool_timeout=DATABASE_CONFIG['connection_timeout'],
            pool_recycle=3600,
            connect_args={
                "connect_timeout": DATABASE_CONFIG['connection_timeout'],
                "application_name": "Python_Data_Analysis_Course"
            }
        )
        
        # Test connection
        with engine.connect() as conn:
            result = conn.execute(text("SELECT version()"))
            version = result.scalar()
            print("✅ PostgreSQL connection established successfully")
            print(f"🐘 Database version: {version[:50]}...")
        
        return engine
        
    except Exception as e:
        print(f"❌ PostgreSQL connection failed: {e}")
        print("🔧 Troubleshooting tips:")
        print("  • Check your internet connection")
        print("  • Verify database credentials")
        print("  • Ensure Supabase database is running")
        raise

def get_table_info(engine):
    """
    Get comprehensive information about all tables in the Olist schemas.
    Returns dictionary with schema-qualified table information.
    """
    inspector = inspect(engine)
    
    # Define the schemas we're interested in
    target_schemas = ['olist_marketing_data_set', 'olist_sales_data_set']
    
    table_info = {}
    
    print("📋 Discovering database schema...")
    
    # Get all available schemas first
    try:
        with engine.connect() as conn:
            result = conn.execute(text("""
                SELECT schema_name 
                FROM information_schema.schemata 
                WHERE schema_name IN ('olist_marketing_data_set', 'olist_sales_data_set')
            """))
            available_schemas = [row[0] for row in result]
            print(f"🔍 Found schemas: {available_schemas}")
    except Exception as e:
        print(f"⚠️ Could not query schemas: {e}")
        available_schemas = target_schemas  # Fallback to expected schemas
    
    # Query tables in each schema
    for schema in available_schemas:
        try:
            tables = inspector.get_table_names(schema=schema)
            print(f"\n📊 Schema '{schema}' contains {len(tables)} tables:")
            
            for table in tables:
                schema_qualified_name = f"{schema}.{table}"
                try:
                    with engine.connect() as conn:
                        # Get row count
                        result = conn.execute(text(f'SELECT COUNT(*) FROM "{schema}"."{table}"'))
                        row_count = result.scalar()
                        
                        # Get column information
                        columns = inspector.get_columns(table, schema=schema)
                        
                        table_info[schema_qualified_name] = {
                            'schema': schema,
                            'table': table,
                            'rows': row_count,
                            'columns': [col['name'] for col in columns],
                            'column_types': {col['name']: str(col['type']) for col in columns}
                        }
                        
                        print(f"  📋 {table}: {row_count:,} rows, {len(columns)} columns")
                        
                except Exception as e:
                    print(f"  ⚠️ Could not access {schema}.{table}: {e}")
                    continue
                    
        except Exception as e:
            print(f"⚠️ Could not access schema '{schema}': {e}")
            continue
    
    return table_info

def execute_query(engine, query, params=None):
    """
    Execute a SQL query with proper error handling and return results as DataFrame.
    """
    try:
        with engine.connect() as conn:
            if params:
                result = pd.read_sql(text(query), conn, params=params)
            else:
                result = pd.read_sql(text(query), conn)
            
            return result
            
    except Exception as e:
        print(f"❌ Query execution failed: {e}")
        print(f"📝 Query: {query[:100]}...")
        raise

def get_sample_data(engine, table_name, limit=5):
    """
    Get sample data from a schema-qualified table for exploration.
    table_name should be in format 'schema.table'
    """
    if '.' in table_name:
        schema, table = table_name.split('.', 1)
        query = f'SELECT * FROM "{schema}"."{table}" LIMIT {limit}'
    else:
        query = f'SELECT * FROM "{table_name}" LIMIT {limit}'
    
    return execute_query(engine, query)

def get_table_schema(engine, table_name):
    """
    Get detailed schema information for a specific table.
    table_name should be in format 'schema.table'
    """
    if '.' in table_name:
        schema, table = table_name.split('.', 1)
    else:
        schema, table = None, table_name
        
    inspector = inspect(engine)
    columns = inspector.get_columns(table, schema=schema)
    
    schema_df = pd.DataFrame([
        {
            'column_name': col['name'],
            'data_type': str(col['type']),
            'nullable': col['nullable'],
            'default': col.get('default'),
            'primary_key': col.get('primary_key', False)
        }
        for col in columns
    ])
    
    return schema_df

def close_database_engine(engine):
    """
    Properly close database connections.
    """
    if engine:
        engine.dispose()
        print("🔒 PostgreSQL connections closed")

# Create database engine and connect to Supabase
print("🚀 Connecting to Supabase PostgreSQL Database...")
db_engine = create_database_engine()

# Display database information
print("\n📊 Olist E-commerce Database Overview:")
db_info = get_table_info(db_engine)

print(f"\n🗃️ Total tables discovered: {len(db_info)}")
total_rows = sum(info['rows'] for info in db_info.values())
print(f"📏 Total rows across all tables: {total_rows:,}")

🚀 Connecting to Supabase PostgreSQL Database...
✅ PostgreSQL connection established successfully
🐘 Database version: PostgreSQL 17.4 on aarch64-unknown-linux-gnu, comp...

📊 Olist E-commerce Database Overview:
📋 Discovering database schema...
🔍 Found schemas: ['olist_marketing_data_set', 'olist_sales_data_set']

📊 Schema 'olist_marketing_data_set' contains 2 tables:
  📋 olist_marketing_qualified_leads_dataset: 8,000 rows, 4 columns
  📋 olist_closed_deals_dataset: 380 rows, 14 columns

📊 Schema 'olist_sales_data_set' contains 9 tables:
  📋 olist_order_reviews_dataset: 98,410 rows, 7 columns
  📋 olist_order_items_dataset: 112,650 rows, 7 columns
  📋 olist_order_payments_dataset: 103,886 rows, 5 columns
  📋 olist_customers_dataset: 99,441 rows, 5 columns
  📋 olist_orders_dataset: 99,441 rows, 8 columns
  📋 olist_sellers_dataset: 3,095 rows, 4 columns
  📋 product_category_name_translation: 73 rows, 2 columns
  📋 olist_products_dataset: 32,951 rows, 9 columns
  📋 olist_geolocation_dataset: 1,000,163 rows, 5 columns

🗃️ Total tables discovered: 11
📏 Total rows across all tables: 1,558,490

## 2. Exploring the Database Schema

Let's explore the structure of our Olist e-commerce database to understand the business data model.

In [33]:
# Real Business Data Exploration: Olist E-commerce Dataset
print("🔍 Real Business Data Exploration")
print("\n" + "="*60)

# Now we have actual data! Let's explore the real Olist e-commerce business model
sales_tables = [table for table in db_info.keys() if table.startswith('olist_sales_data_set.')]
marketing_tables = [table for table in db_info.keys() if table.startswith('olist_marketing_data_set.')]

print(f"\n📊 OLIST SALES DATASET - Brazilian E-commerce Marketplace")
print(f"Found {len(sales_tables)} core business tables:")

# Display actual business tables with their purpose
table_descriptions = {
    'olist_customers_dataset': 'Customer demographics and location data',
    'olist_orders_dataset': 'Order lifecycle and delivery tracking',
    'olist_order_items_dataset': 'Product items within each order',
    'olist_order_payments_dataset': 'Payment methods and transaction values',
    'olist_order_reviews_dataset': 'Customer satisfaction scores and feedback',
    'olist_products_dataset': 'Product catalog with categories and dimensions',
    'olist_sellers_dataset': 'Marketplace seller information and locations',
    'olist_geolocation_dataset': 'Geographic coordinates for Brazilian ZIP codes',
    'product_category_name_translation': 'Portuguese to English category translations'
}

for table in sales_tables:
    if table in db_info:
        info = db_info[table]
        table_name = info['table']
        description = table_descriptions.get(table_name, 'Business dataset')
        print(f"  • {table_name:<35} {info['rows']:>8,} rows")
        print(f"    {description}")

print(f"\n📈 OLIST MARKETING DATASET")
print(f"Found {len(marketing_tables)} marketing tables:")

for table in marketing_tables:
    if table in db_info:
        info = db_info[table]
        table_name = info['table']
        print(f"  • {table_name:<35} {info['rows']:>8,} rows")

# Let's examine the core business relationships
if sales_tables:
    main_orders_table = 'olist_sales_data_set.olist_orders_dataset'
    print(f"\n📋 Core Business Schema - Orders Table Structure:")
    orders_schema = get_table_schema(db_engine, main_orders_table)
    display(orders_schema)
    
    print(f"\n📦 Real Order Data Sample:")
    orders_sample = get_sample_data(db_engine, main_orders_table, 3)
    display(orders_sample)

print("\n💡 Real Business Model Understanding:")
print("  🏪 Olist is a Brazilian e-commerce marketplace (like Amazon)")
print("  🛒 Connects sellers with customers across Brazil")
print("  📦 Handles logistics, payments, and customer service")
print("  📊 Rich dataset: 100K+ orders, 32K+ products, 3K+ sellers")
print("  🌍 Geographic coverage: All Brazilian states")
print("  💰 Business metrics: R$ 13.6M+ in sales, 140+ avg order value")
print(f"  📅 Time period: 2016-2018 Brazilian e-commerce data")

🔍 Real Business Data Exploration

============================================================

📊 OLIST SALES DATASET - Brazilian E-commerce Marketplace
Found 9 core business tables:
  • olist_order_reviews_dataset           98,410 rows
    Customer satisfaction scores and feedback
  • olist_order_items_dataset            112,650 rows
    Product items within each order
  • olist_order_payments_dataset         103,886 rows
    Payment methods and transaction values
  • olist_customers_dataset               99,441 rows
    Customer demographics and location data
  • olist_orders_dataset                  99,441 rows
    Order lifecycle and delivery tracking
  • olist_sellers_dataset                  3,095 rows
    Marketplace seller information and locations
  • product_category_name_translation         73 rows
    Portuguese to English category translations
  • olist_products_dataset                32,951 rows
    Product catalog with categories and dimensions
  • olist_geolocation_dataset           1,000,163 rows
    Geographic coordinates for Brazilian ZIP codes

📈 OLIST MARKETING DATASET
Found 2 marketing tables:
  • olist_marketing_qualified_leads_dataset    8,000 rows
  • olist_closed_deals_dataset               380 rows

📋 Core Business Schema - Orders Table Structure:

                     column_name  data_type  nullable default  primary_key
0                       order_id       TEXT     False    None        False
1                    customer_id       TEXT      True    None        False
2                   order_status       TEXT      True    None        False
3       order_purchase_timestamp  TIMESTAMP      True    None        False
4              order_approved_at  TIMESTAMP      True    None        False
5   order_delivered_carrier_date  TIMESTAMP      True    None        False
6  order_delivered_customer_date  TIMESTAMP      True    None        False
7  order_estimated_delivery_date  TIMESTAMP      True    None        False

📦 Real Order Data Sample:

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04

💡 Real Business Model Understanding:
  🏪 Olist is a Brazilian e-commerce marketplace (like Amazon)
  🛒 Connects sellers with customers across Brazil
  📦 Handles logistics, payments, and customer service
  📊 Rich dataset: 100K+ orders, 32K+ products, 3K+ sellers
  🌍 Geographic coverage: All Brazilian states
  💰 Business metrics: R$ 13.6M+ in sales, 140+ avg order value
  📅 Time period: 2016-2018 Brazilian e-commerce data

## 3. Running SQL Queries from Python

Now let's execute SQL queries directly from Python and see how they work with real cloud data.

In [34]:
# Real Business Intelligence SQL Queries
print("🔍 Real Business Intelligence with SQL")
print("\n" + "="*60)

# Now we can run actual business analysis instead of guessing column names!
print("\n📋 Example 1: Customer Distribution Analysis")
print("Business Question: Where are our customers located?")

if sales_tables:
    # Real customer geographic analysis
    customer_geo_query = """
    SELECT 
        customer_state,
        COUNT(*) as customer_count,
        ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) as percentage
    FROM "olist_sales_data_set"."olist_customers_dataset"
    WHERE customer_state IS NOT NULL
    GROUP BY customer_state
    ORDER BY customer_count DESC
    LIMIT 8
    """
    
    try:
        customer_analysis = execute_query(db_engine, customer_geo_query)
        print("✅ Customer Geographic Distribution:")
        display(customer_analysis)
        
        print(f"\n💡 Business Insights:")
        print(f"  • São Paulo (SP) dominates with {customer_analysis.iloc[0]['customer_count']:,} customers")
        print(f"  • Top 3 states account for {customer_analysis.head(3)['percentage'].sum():.1f}% of customers")
        print(f"  • Geographic concentration in Southeast Brazil")
    except Exception as e:
        print(f"❌ Query failed: {e}")

print("\n" + "-"*60)
print("\n📊 Example 2: Order Status Pipeline Analysis")
print("Business Question: What's our order fulfillment performance?")

🔍 Real Business Intelligence with SQL

============================================================

📋 Example 1: Customer Distribution Analysis
Business Question: Where are our customers located?
✅ Customer Geographic Distribution:

  customer_state  customer_count  percentage
0             SP           41746        42.0
1             RJ           12852        12.9
2             MG           11635        11.7
3             RS            5466         5.5
4             PR            5045         5.1
5             SC            3637         3.7
6             BA            3380         3.4
7             DF            2140         2.2

💡 Business Insights:
  • São Paulo (SP) dominates with 41,746 customers
  • Top 3 states account for 66.6% of customers
  • Geographic concentration in Southeast Brazil

------------------------------------------------------------

📊 Example 2: Order Status Pipeline Analysis
Business Question: What's our order fulfillment performance?

In [ ]:

if sales_tables:
    # Real order status analysis
    order_status_query = """
    SELECT 
        order_status,
        COUNT(*) as order_count,
        ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) as percentage
    FROM "olist_sales_data_set"."olist_orders_dataset"
    GROUP BY order_status
    ORDER BY order_count DESC
    """
    
    try:
        order_status_analysis = execute_query(db_engine, order_status_query)
        print("✅ Order Status Distribution:")
        display(order_status_analysis)
        
        delivered_rate = order_status_analysis[order_status_analysis['order_status'] == 'delivered']['percentage'].iloc[0]
        print(f"\n💡 Operational Insights:")
        print(f"  • {delivered_rate}% successful delivery rate")
        print(f"  • {order_status_analysis.iloc[0]['order_count']:,} total orders processed")
        print(f"  • Strong operational performance with minimal cancellations")
    except Exception as e:
        print(f"❌ Query failed: {e}")

✅ Order Status Distribution:

  order_status  order_count  percentage
0    delivered        96478        97.0
1      shipped         1107         1.1
2     canceled          625         0.6
3  unavailable          609         0.6
4     invoiced          314         0.3
5   processing          301         0.3
6      created            5         0.0
7     approved            2         0.0

💡 Operational Insights:
  • 97.0% successful delivery rate
  • 96,478 total orders processed
  • Strong operational performance with minimal cancellations

------------------------------------------------------------

💰 Example 3: Revenue and Payment Analysis
Business Question: What are our key financial metrics?

In [36]:
print("\n" + "-"*60)
print("\n💰 Example 3: Revenue and Payment Analysis")
print("Business Question: What are our key financial metrics?")

if sales_tables:
    # Real revenue analysis
    revenue_query = """
    SELECT 
        payment_type,
        COUNT(*) as transaction_count,
        SUM(payment_value::numeric) as total_revenue,
        AVG(payment_value::numeric) as avg_payment_value
    FROM "olist_sales_data_set"."olist_order_payments_dataset"
    WHERE payment_value IS NOT NULL
    GROUP BY payment_type
    ORDER BY total_revenue DESC
    """
    
    try:
        revenue_analysis = execute_query(db_engine, revenue_query)
        print("✅ Payment Method Analysis:")
        display(revenue_analysis)
        
        total_revenue = revenue_analysis['total_revenue'].sum()
        print(f"\n💡 Financial Insights:")
        print(f"  • Total revenue: R$ {total_revenue:,.2f}")
        print(f"  • Credit cards dominate: {revenue_analysis.iloc[0]['total_revenue']/total_revenue*100:.1f}% of revenue")
        print(f"  • Brazilian payment preferences clearly visible")
    except Exception as e:
        print(f"❌ Query failed: {e}")

print("\n" + "-"*60)

------------------------------------------------------------

💰 Example 3: Revenue and Payment Analysis
Business Question: What are our key financial metrics?
✅ Payment Method Analysis:

  payment_type  transaction_count  total_revenue  avg_payment_value
0  credit_card              76795    12542084.21         163.319021
1       boleto              19784     2869361.27         145.034435
2      voucher               5775      379436.87          65.703354
3   debit_card               1529      217989.79         142.570170
4  not_defined                  3           0.00           0.000000

💡 Financial Insights:
  • Total revenue: R$ 16,008,872.14
  • Credit cards dominate: 78.3% of revenue
  • Brazilian payment preferences clearly visible

------------------------------------------------------------

In [37]:
# Real Business Relationships: JOIN Analysis
print("\n🔗 Real Business Relationships: JOIN Analysis")
print("Business Question: How do our core business entities connect?")

if sales_tables:
    print("\n📋 Customer-Order-Product Relationship Analysis")
    
    # Real business relationship query showing actual data flow
    customer_order_analysis_query = """
    SELECT 
        c.customer_state,
        COUNT(DISTINCT c.customer_id) as unique_customers,
        COUNT(DISTINCT o.order_id) as total_orders,
        COUNT(oi.order_item_id) as total_items,
        SUM(oi.price::numeric) as total_item_value,
        AVG(oi.price::numeric) as avg_item_price
    FROM "olist_sales_data_set"."olist_customers_dataset" c
    INNER JOIN "olist_sales_data_set"."olist_orders_dataset" o 
        ON c.customer_id = o.customer_id
    INNER JOIN "olist_sales_data_set"."olist_order_items_dataset" oi 
        ON o.order_id = oi.order_id
    WHERE c.customer_state IS NOT NULL 
        AND o.order_status = 'delivered'
        AND oi.price IS NOT NULL
    GROUP BY c.customer_state
    ORDER BY total_item_value DESC
    LIMIT 10
    """
    
    try:
        relationship_analysis = execute_query(db_engine, customer_order_analysis_query)
        print("✅ Customer-Order-Product JOIN Analysis:")
        display(relationship_analysis)
        
        if len(relationship_analysis) > 0:
            top_state = relationship_analysis.iloc[0]
            print(f"\n🔍 JOIN Analysis Insights:")
            print(f"  • Top revenue state: {top_state['customer_state']}")
            print(f"  • {top_state['unique_customers']:,} customers generated R$ {top_state['total_item_value']:,.2f}")
            print(f"  • Average item price: R$ {top_state['avg_item_price']:,.2f}")
            print(f"  • This demonstrates real foreign key relationships working!")
    except Exception as e:
        print(f"❌ JOIN analysis failed: {e}")

🔗 Real Business Relationships: JOIN Analysis
Business Question: How do our core business entities connect?

📋 Customer-Order-Product Relationship Analysis
✅ Customer-Order-Product JOIN Analysis:

,customer_state,unique_customers,total_orders,total_items,total_item_value,avg_item_price
0,SP,40501,40501,46448,5067633.16,109.103366
1,RJ,12350,12350,14143,1759651.13,124.418520
2,MG,11354,11354,12916,1552481.83,120.198345
3,RS,5345,5345,6134,728897.47,118.829063
4,PR,4923,4923,5649,666063.51,117.908216
5,SC,3546,3546,4097,507012.13,123.752045
6,BA,3256,3256,3683,493584.14,134.016872
7,DF,2080,2080,2355,296498.41,125.901660
8,GO,1957,1957,2277,282836.70,124.214625
9,ES,1995,1995,2225,268643.45,120.738629

🔍 JOIN Analysis Insights:
  • Top revenue state: SP
  • 40,501 customers generated R$ 5,067,633.16
  • Average item price: R$ 109.10
  • This demonstrates real foreign key relationships working!

In [38]:

    print("\n" + "-"*50)
    print("\n⭐ Product Performance with Reviews Analysis")
    
    # Real product-review relationship analysis
    product_review_query = """
    SELECT 
        p.product_category_name,
        t.product_category_name_english,
        COUNT(DISTINCT p.product_id) as unique_products,
        COUNT(r.review_id) as total_reviews,
        AVG(r.review_score::numeric) as avg_review_score,
        SUM(oi.price::numeric) as category_revenue
    FROM "olist_sales_data_set"."olist_products_dataset" p
    INNER JOIN "olist_sales_data_set"."olist_order_items_dataset" oi 
        ON p.product_id = oi.product_id
    INNER JOIN "olist_sales_data_set"."olist_order_reviews_dataset" r 
        ON oi.order_id = r.order_id
    LEFT JOIN "olist_sales_data_set"."product_category_name_translation" t
        ON p.product_category_name = t.product_category_name
    WHERE p.product_category_name IS NOT NULL
        AND r.review_score IS NOT NULL
        AND oi.price IS NOT NULL
    GROUP BY p.product_category_name, t.product_category_name_english
    ORDER BY category_revenue DESC
    LIMIT 8
    """
    
    try:
        product_performance = execute_query(db_engine, product_review_query)
        print("✅ Product Category Performance (with Reviews):")
        display(product_performance)
        
        print(f"\n💡 Multi-Table JOIN Insights:")
        print(f"  • Successfully joined 4 tables: products → order_items → reviews → translations")
        print(f"  • Real business metrics: revenue + customer satisfaction")
        print(f"  • Shows complex relationships in e-commerce data")
    except Exception as e:
        print(f"❌ Product performance analysis failed: {e}")

print("\n" + "-"*60)

--------------------------------------------------

⭐ Product Performance with Reviews Analysis
✅ Product Category Performance (with Reviews):

,product_category_name,product_category_name_english,unique_products,total_reviews,avg_review_score,category_revenue
0,beleza_saude,health_beauty,2430,9567,4.141946,1245040.38
1,relogios_presentes,watches_gifts,1321,5939,4.019532,1196263.79
2,cama_mesa_banho,bed_bath_table,2988,10954,3.898393,1023158.90
3,esporte_lazer,sports_leisure,2844,8553,4.109786,977798.77
4,informatica_acessorios,computers_accessories,1631,7758,3.937226,903577.93
5,moveis_decoracao,furniture_decor,2613,8213,3.913673,719534.44
6,utilidades_domesticas,housewares,2317,6910,4.056874,627455.71
7,cool_stuff,cool_stuff,781,3763,4.148020,624824.74

💡 Multi-Table JOIN Insights:
  • Successfully joined 4 tables: products → order_items → reviews → translations
  • Real business metrics: revenue + customer satisfaction
  • Shows complex relationships in e-commerce data

------------------------------------------------------------

In [39]:
# Real Marketing Data Analysis: Lead Generation and Conversion
print("📈 Real Marketing Data Analysis")
print("Business Question: How effective are our marketing channels?")

if marketing_tables:
    # Get real structure of marketing tables
    leads_table = 'olist_marketing_data_set.olist_marketing_qualified_leads_dataset'
    deals_table = 'olist_marketing_data_set.olist_closed_deals_dataset'
    
    print(f"\n📋 Marketing Dataset Structure:")
    print(f"✅ Qualified Leads: {db_info[leads_table]['rows']:,} records")
    print(f"✅ Closed Deals: {db_info[deals_table]['rows']:,} records")
    
    # Examine actual lead data structure
    leads_sample = get_sample_data(db_engine, leads_table, 3)
    print(f"\n📊 Marketing Qualified Leads Sample:")
    display(leads_sample)
    
    # Real marketing channel analysis
    if 'origin' in db_info[leads_table]['columns']:
        marketing_channel_query = """
        SELECT 
            origin as marketing_channel,
            COUNT(*) as total_leads,
            ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) as lead_percentage
        FROM "olist_marketing_data_set"."olist_marketing_qualified_leads_dataset"
        WHERE origin IS NOT NULL
        GROUP BY origin
        ORDER BY total_leads DESC
        """
        
        try:
            channel_analysis = execute_query(db_engine, marketing_channel_query)
            print(f"\n✅ Marketing Channel Performance:")
            display(channel_analysis)
            
            if len(channel_analysis) > 0:
                top_channel = channel_analysis.iloc[0]
                print(f"\n💡 Marketing Insights:")
                print(f"  • Top channel: {top_channel['marketing_channel']} ({top_channel['lead_percentage']}% of leads)")
                print(f"  • Generated {top_channel['total_leads']:,} qualified leads")
                print(f"  • {len(channel_analysis)} distinct marketing channels identified")
        except Exception as e:
            print(f"❌ Marketing channel analysis failed: {e}")

📈 Real Marketing Data Analysis
Business Question: How effective are our marketing channels?

📋 Marketing Dataset Structure:
✅ Qualified Leads: 8,000 records
✅ Closed Deals: 380 records

📊 Marketing Qualified Leads Sample:

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search

✅ Marketing Channel Performance:

   marketing_channel  total_leads  lead_percentage
0     organic_search         2296             28.9
1        paid_search         1586             20.0
2             social         1350             17.0
3            unknown         1099             13.8
4     direct_traffic          499              6.3
5              email          493              6.2
6           referral          284              3.6
7              other          150              1.9
8            display          118              1.5
9  other_publicities           65              0.8

💡 Marketing Insights:
  • Top channel: organic_search (28.9% of leads)
  • Generated 2,296 qualified leads
  • 10 distinct marketing channels identified

In [41]:
    # Lead-to-deal conversion analysis
    print(f"\n🔄 Marketing Funnel Analysis:")
    funnel_query = """
    WITH lead_summary AS (
        SELECT COUNT(*) as total_leads FROM "olist_marketing_data_set"."olist_marketing_qualified_leads_dataset"
    ),
    deal_summary AS (
        SELECT COUNT(*) as total_deals FROM "olist_marketing_data_set"."olist_closed_deals_dataset"
    )
    SELECT 
        l.total_leads,
        d.total_deals,
        ROUND(d.total_deals * 100.0 / l.total_leads, 1) as conversion_rate
    FROM lead_summary l, deal_summary d
    """
    
    try:
        funnel_analysis = execute_query(db_engine, funnel_query)
        print(f"✅ Marketing Funnel Metrics:")
        display(funnel_analysis)
        
        if len(funnel_analysis) > 0:
            metrics = funnel_analysis.iloc[0]
            print(f"\n🎯 Conversion Performance:")
            print(f"  • Lead-to-Deal conversion rate: {metrics['conversion_rate']}%")
            print(f"  • {metrics['total_leads']:,} marketing qualified leads generated")
            print(f"  • {metrics['total_deals']:,} closed deals from marketing efforts")
    except Exception as e:
        print(f"❌ Funnel analysis failed: {e}")

else:
        print("⚠️ No marketing tables found in the database")

print("\n💡 Real Marketing Intelligence:")
print("  • Analyzed actual lead generation data from Brazilian e-commerce")
print("  • Measured real conversion funnel performance")
print("  • Identified top-performing marketing channels")
print("  • Connected marketing efforts to business outcomes")

print("\n" + "-"*60)

🔄 Marketing Funnel Analysis:
✅ Marketing Funnel Metrics:

   total_leads  total_deals  conversion_rate
0         8000          380              4.8

🎯 Conversion Performance:
  • Lead-to-Deal conversion rate: 4.8%
  • 8,000.0 marketing qualified leads generated
  • 380.0 closed deals from marketing efforts
⚠️ No marketing tables found in the database

💡 Real Marketing Intelligence:
  • Analyzed actual lead generation data from Brazilian e-commerce
  • Measured real conversion funnel performance
  • Identified top-performing marketing channels
  • Connected marketing efforts to business outcomes

------------------------------------------------------------

## 4. Advanced SQL Features

Let's explore more sophisticated SQL queries that are common in business intelligence scenarios.

In [42]:
# Advanced SQL: Real Time-Series Analysis with Brazilian E-commerce Data
print("🧠 Advanced SQL Analysis: Real Time-Series & Window Functions")
print("\n" + "="*60)

print("\n📅 Example: Brazilian E-commerce Growth Trends")
print("Business Question: How did Olist's business grow month-by-month?")

if sales_tables:
    # Real time-series analysis with actual order dates
    time_analysis_query = """
    SELECT 
        DATE_TRUNC('month', order_purchase_timestamp) as month,
        COUNT(*) as monthly_orders,
        COUNT(DISTINCT customer_id) as unique_customers,
        LAG(COUNT(*), 1) OVER (ORDER BY DATE_TRUNC('month', order_purchase_timestamp)) as prev_month_orders,
        CASE 
            WHEN LAG(COUNT(*), 1) OVER (ORDER BY DATE_TRUNC('month', order_purchase_timestamp)) IS NOT NULL
            THEN ROUND(
                (COUNT(*) - LAG(COUNT(*), 1) OVER (ORDER BY DATE_TRUNC('month', order_purchase_timestamp))) * 100.0 / 
                LAG(COUNT(*), 1) OVER (ORDER BY DATE_TRUNC('month', order_purchase_timestamp)), 
                1
            )
            ELSE NULL
        END as month_over_month_growth
    FROM "olist_sales_data_set"."olist_orders_dataset"
    WHERE order_purchase_timestamp IS NOT NULL
        AND order_purchase_timestamp >= '2017-01-01'
        AND order_purchase_timestamp < '2019-01-01'
    GROUP BY DATE_TRUNC('month', order_purchase_timestamp)
    ORDER BY month
    """
    
    try:
        time_analysis = execute_query(db_engine, time_analysis_query)
        print("\n✅ Monthly Growth Analysis (2017-2018):")
        display(time_analysis)
        
        if len(time_analysis) > 1:
            # Calculate business insights
            avg_monthly_orders = time_analysis['monthly_orders'].mean()
            peak_month = time_analysis.loc[time_analysis['monthly_orders'].idxmax()]
            
            print(f"\n📈 Brazilian E-commerce Trends:")
            print(f"  • Average monthly orders: {avg_monthly_orders:.0f}")
            print(f"  • Peak month: {peak_month['month']} with {peak_month['monthly_orders']:,} orders")
            print(f"  • Growth rate analysis shows seasonal e-commerce patterns")
            print(f"  • Window functions (LAG) enable month-over-month calculations")
    except Exception as e:
        print(f"❌ Time analysis failed: {e}")

    print("\n" + "-"*50)
    print("\n🌍 Geographic Analysis with Window Functions")
    print("Business Question: How do Brazilian states rank by business performance?")
    
    # Advanced window functions for regional ranking
    regional_ranking_query = """
    SELECT 
        c.customer_state,
        COUNT(DISTINCT o.order_id) as total_orders,
        SUM(oi.price::numeric + oi.freight_value::numeric) as total_revenue,
        ROUND(AVG(oi.price::numeric), 2) as avg_item_price,
        RANK() OVER (ORDER BY COUNT(DISTINCT o.order_id) DESC) as order_rank,
        RANK() OVER (ORDER BY SUM(oi.price::numeric + oi.freight_value::numeric) DESC) as revenue_rank,
        ROUND(
            SUM(oi.price::numeric + oi.freight_value::numeric) * 100.0 / 
            SUM(SUM(oi.price::numeric + oi.freight_value::numeric)) OVER(), 2
        ) as revenue_percentage
    FROM "olist_sales_data_set"."olist_customers_dataset" c
    INNER JOIN "olist_sales_data_set"."olist_orders_dataset" o ON c.customer_id = o.customer_id
    INNER JOIN "olist_sales_data_set"."olist_order_items_dataset" oi ON o.order_id = oi.order_id
    WHERE c.customer_state IS NOT NULL 
        AND o.order_status = 'delivered'
        AND oi.price IS NOT NULL
        AND oi.freight_value IS NOT NULL
    GROUP BY c.customer_state
    ORDER BY total_revenue DESC
    LIMIT 10
    """
    
    try:
        regional_analysis = execute_query(db_engine, regional_ranking_query)
        print("\n✅ Regional Performance Ranking:")
        display(regional_analysis)
        
        print(f"\n🏆 Geographic Business Insights:")
        top_state = regional_analysis.iloc[0]
        print(f"  • #1 Revenue State: {top_state['customer_state']} (R$ {top_state['total_revenue']:,.2f})")
        print(f"  • Market concentration: Top 3 states = {regional_analysis.head(3)['revenue_percentage'].sum():.1f}% of revenue")
        print(f"  • Window functions enable sophisticated ranking and percentage calculations")
        print(f"  • Real business intelligence for Brazilian market analysis")
    except Exception as e:
        print(f"❌ Regional analysis failed: {e}")

print("\n💡 Advanced SQL Features Demonstrated:")
print("  • DATE_TRUNC() for time-series grouping with real dates")
print("  • LAG() window function for month-over-month growth analysis")
print("  • RANK() for competitive regional analysis")
print("  • SUM() OVER() for percentage calculations across result set")
print("  • Complex JOINs with real business logic")
print("  • Brazilian e-commerce seasonality and geographic patterns")

print("\n" + "-"*60)

🧠 Advanced SQL Analysis: Real Time-Series & Window Functions

============================================================

📅 Example: Brazilian E-commerce Growth Trends
Business Question: How did Olist's business grow month-by-month?

✅ Monthly Growth Analysis (2017-2018):

,month,monthly_orders,unique_customers,prev_month_orders,month_over_month_growth
0,2017-01-01,800,800,NaN,NaN
1,2017-02-01,1780,1780,800.0,122.5
2,2017-03-01,2682,2682,1780.0,50.7
3,2017-04-01,2404,2404,2682.0,-10.4
4,2017-05-01,3700,3700,2404.0,53.9
5,2017-06-01,3245,3245,3700.0,-12.3
6,2017-07-01,4026,4026,3245.0,24.1
7,2017-08-01,4331,4331,4026.0,7.6
8,2017-09-01,4285,4285,4331.0,-1.1
9,2017-10-01,4631,4631,4285.0,8.1
10,2017-11-01,7544,7544,4631.0,62.9
11,2017-12-01,5673,5673,7544.0,-24.8
12,2018-01-01,7269,7269,5673.0,28.1
13,2018-02-01,6728,6728,7269.0,-7.4
14,2018-03-01,7211,7211,6728.0,7.2
15,2018-04-01,6939,6939,7211.0,-3.8
16,2018-05-01,6873,6873,6939.0,-1.0
17,2018-06-01,6167,6167,6873.0,-10.3
18,2018-07-01,6292,6292,6167.0,2.0
19,2018-08-01,6512,6512,6292.0,3.5
20,2018-09-01,16,16,6512.0,-99.8
21,2018-10-01,4,4,16.0,-75.0

📈 Brazilian E-commerce Trends:
  • Average monthly orders: 4505
  • Peak month: 2017-11-01 00:00:00 with 7,544 orders
  • Growth rate analysis shows seasonal e-commerce patterns
  • Window functions (LAG) enable month-over-month calculations

--------------------------------------------------

🌍 Geographic Analysis with Window Functions
Business Question: How do Brazilian states rank by business performance?

✅ Regional Performance Ranking:

,customer_state,total_orders,total_revenue,avg_item_price,order_rank,revenue_rank,revenue_percentage
0,SP,40501,5769703.15,109.10,1,1,37.42
1,RJ,12350,2055401.57,124.42,2,2,13.33
2,MG,11354,1818891.67,120.20,3,3,11.80
3,RS,5345,861472.79,118.83,4,4,5.59
4,PR,4923,781708.80,117.91,5,5,5.07
5,SC,3546,595127.78,123.75,6,6,3.86
6,BA,3256,591137.81,134.02,7,7,3.83
7,DF,2080,346123.35,125.90,8,8,2.24
8,GO,1957,334212.35,124.21,10,9,2.17
9,ES,1995,317657.93,120.74,9,10,2.06

🏆 Geographic Business Insights:
  • #1 Revenue State: SP (R$ 5,769,703.15)
  • Market concentration: Top 3 states = 62.5% of revenue
  • Window functions enable sophisticated ranking and percentage calculations
  • Real business intelligence for Brazilian market analysis

💡 Advanced SQL Features Demonstrated:
  • DATE_TRUNC() for time-series grouping with real dates
  • LAG() window function for month-over-month growth analysis
  • RANK() for competitive regional analysis
  • SUM() OVER() for percentage calculations across result set
  • Complex JOINs with real business logic
  • Brazilian e-commerce seasonality and geographic patterns

------------------------------------------------------------

In [43]:
# Advanced SQL: Real CTEs for Business Intelligence
print("\n💼 Advanced SQL: CTEs for Real Business Intelligence")
print("Business Question: Can we build a customer lifetime value model?")

if sales_tables:
    # Real CTE analysis using actual Brazilian e-commerce data
    print("\n📊 Customer Lifetime Value Analysis (using CTEs)")
    
    clv_analysis_query = """
    WITH customer_metrics AS (
        -- Calculate per-customer metrics
        SELECT 
            c.customer_id,
            c.customer_state,
            COUNT(DISTINCT o.order_id) as total_orders,
            SUM(oi.price::numeric + oi.freight_value::numeric) as lifetime_value,
            AVG(oi.price::numeric) as avg_item_price,
            MIN(o.order_purchase_timestamp) as first_order_date,
            MAX(o.order_purchase_timestamp) as last_order_date
        FROM "olist_sales_data_set"."olist_customers_dataset" c
        INNER JOIN "olist_sales_data_set"."olist_orders_dataset" o ON c.customer_id = o.customer_id
        INNER JOIN "olist_sales_data_set"."olist_order_items_dataset" oi ON o.order_id = oi.order_id
        WHERE o.order_status = 'delivered'
            AND oi.price IS NOT NULL 
            AND oi.freight_value IS NOT NULL
        GROUP BY c.customer_id, c.customer_state
    ),
    customer_segments AS (
        -- Segment customers based on behavior
        SELECT 
            customer_id,
            customer_state,
            total_orders,
            lifetime_value,
            avg_item_price,
            CASE 
                WHEN lifetime_value >= (SELECT AVG(lifetime_value) * 2 FROM customer_metrics) THEN 'High Value'
                WHEN total_orders > 1 THEN 'Repeat Customer'
                ELSE 'Single Purchase'
            END as customer_segment
        FROM customer_metrics
    ),
    state_performance AS (
        -- Aggregate by state and segment
        SELECT 
            customer_state,
            customer_segment,
            COUNT(*) as customer_count,
            AVG(lifetime_value) as avg_clv,
            SUM(lifetime_value) as total_state_revenue
        FROM customer_segments
        GROUP BY customer_state, customer_segment
    )
    SELECT 
        customer_state,
        customer_segment,
        customer_count,
        ROUND(avg_clv, 2) as avg_customer_lifetime_value,
        ROUND(total_state_revenue, 2) as segment_revenue
    FROM state_performance
    WHERE customer_state IN ('SP', 'RJ', 'MG', 'RS', 'PR')  -- Top 5 states
    ORDER BY customer_state, segment_revenue DESC
    """
    
    try:
        clv_analysis = execute_query(db_engine, clv_analysis_query)
        print("\n✅ Customer Lifetime Value by State & Segment:")
        display(clv_analysis)
        
        print(f"\n🎯 CTE Business Intelligence Insights:")
        # Analyze the segments
        high_value_customers = clv_analysis[clv_analysis['customer_segment'] == 'High Value']
        if len(high_value_customers) > 0:
            best_high_value_state = high_value_customers.loc[high_value_customers['avg_customer_lifetime_value'].idxmax()]
            print(f"  • Best high-value state: {best_high_value_state['customer_state']}")
            print(f"  • High-value CLV: R$ {best_high_value_state['avg_customer_lifetime_value']:,.2f}")
        
        print(f"  • CTEs enabled complex 3-step analysis: metrics → segments → aggregation")
        print(f"  • Real business model: customer segmentation for Brazilian e-commerce")
    except Exception as e:
        print(f"❌ CTE analysis failed: {e}")

    print("\n" + "-"*50)
    print("\n🔄 Advanced CTE: Product Category Performance Analysis")
    
    category_performance_query = """
    WITH product_sales AS (
        -- Product-level sales metrics
        SELECT 
            p.product_category_name,
            p.product_id,
            SUM(oi.price::numeric) as product_revenue,
            COUNT(oi.order_id) as times_sold,
            AVG(r.review_score::numeric) as avg_review_score
        FROM "olist_sales_data_set"."olist_products_dataset" p
        INNER JOIN "olist_sales_data_set"."olist_order_items_dataset" oi ON p.product_id = oi.product_id
        LEFT JOIN "olist_sales_data_set"."olist_order_reviews_dataset" r ON oi.order_id = r.order_id
        WHERE p.product_category_name IS NOT NULL
            AND oi.price IS NOT NULL
        GROUP BY p.product_category_name, p.product_id
    ),
    category_summary AS (
        -- Category-level aggregation
        SELECT 
            product_category_name,
            COUNT(DISTINCT product_id) as unique_products,
            SUM(product_revenue) as category_revenue,
            AVG(avg_review_score) as category_satisfaction,
            SUM(times_sold) as total_units_sold
        FROM product_sales
        WHERE avg_review_score IS NOT NULL
        GROUP BY product_category_name
    ),
    category_ranking AS (
        -- Add performance rankings
        SELECT 
            product_category_name,
            unique_products,
            ROUND(category_revenue, 2) as category_revenue,
            ROUND(category_satisfaction, 2) as avg_satisfaction_score,
            total_units_sold,
            RANK() OVER (ORDER BY category_revenue DESC) as revenue_rank,
            RANK() OVER (ORDER BY category_satisfaction DESC) as satisfaction_rank
        FROM category_summary
    )
    SELECT 
        product_category_name,
        unique_products,
        category_revenue,
        avg_satisfaction_score,
        total_units_sold,
        revenue_rank,
        satisfaction_rank
    FROM category_ranking
    ORDER BY category_revenue DESC
    LIMIT 10
    """
    
    try:
        category_analysis = execute_query(db_engine, category_performance_query)
        print("\n✅ Product Category Performance (Revenue vs Satisfaction):")
        display(category_analysis)
        
        print(f"\n📈 Category Performance Insights:")
        top_revenue = category_analysis.iloc[0]
        best_satisfaction = category_analysis.loc[category_analysis['avg_satisfaction_score'].idxmax()]
        
        print(f"  • Top revenue category: {top_revenue['product_category_name']} (R$ {top_revenue['category_revenue']:,.2f})")
        print(f"  • Highest satisfaction: {best_satisfaction['product_category_name']} ({best_satisfaction['avg_satisfaction_score']:.2f} stars)")
        print(f"  • Complex CTEs: sales → category → ranking analysis")
        print(f"  • Real business intelligence: revenue vs customer satisfaction trade-offs")
    except Exception as e:
        print(f"❌ Category performance analysis failed: {e}")

print("\n💡 Advanced SQL Features Demonstrated:")
print("  • Multi-level CTEs for complex business logic")
print("  • Customer segmentation with CASE statements")
print("  • Subqueries for dynamic threshold calculations")
print("  • Window functions for ranking and percentiles")
print("  • Real business intelligence metrics (CLV, satisfaction, performance)")
print("  • Brazilian e-commerce insights with actual marketplace data")

print("\n🎓 Educational Value:")
print("  • Students see real SQL patterns used in business intelligence")
print("  • Complex queries broken down into logical, reusable CTEs")
print("  • Actual business insights from real e-commerce operations")
print("  • Practical application of advanced SQL concepts")

💼 Advanced SQL: CTEs for Real Business Intelligence
Business Question: Can we build a customer lifetime value model?

📊 Customer Lifetime Value Analysis (using CTEs)

✅ Customer Lifetime Value by State & Segment:

,customer_state,customer_segment,customer_count,avg_customer_lifetime_value,segment_revenue
0,MG,Single Purchase,10347,114.50,1184709.75
1,MG,High Value,1007,629.77,634181.92
2,PR,Single Purchase,4488,111.63,501002.90
3,PR,High Value,435,645.30,280705.90
4,RJ,Single Purchase,11220,117.55,1318954.24
5,RJ,High Value,1130,651.72,736447.33
6,RS,Single Purchase,4845,115.46,559400.56
7,RS,High Value,500,604.14,302072.23
8,SP,Single Purchase,37467,103.97,3895374.01
9,SP,High Value,3034,617.77,1874329.14

🎯 CTE Business Intelligence Insights:
  • Best high-value state: RJ
  • High-value CLV: R$ 651.72
  • CTEs enabled complex 3-step analysis: metrics → segments → aggregation
  • Real business model: customer segmentation for Brazilian e-commerce

--------------------------------------------------

🔄 Advanced CTE: Product Category Performance Analysis

✅ Product Category Performance (Revenue vs Satisfaction):

,product_category_name,unique_products,category_revenue,avg_satisfaction_score,total_units_sold,revenue_rank,satisfaction_rank
0,beleza_saude,2430,1258226.37,4.18,9670.0,1,21
1,relogios_presentes,1321,1203633.11,4.17,5989.0,2,22
2,cama_mesa_banho,2988,1040608.11,3.87,11152.0,3,59
3,esporte_lazer,2844,987771.16,4.13,8639.0,4,29
4,informatica_acessorios,1631,912032.36,3.94,7845.0,5,54
5,moveis_decoracao,2613,726990.49,3.91,8309.0,6,57
6,utilidades_domesticas,2317,632323.65,4.08,6959.0,7,38
7,cool_stuff,781,630022.88,4.14,3792.0,8,27
8,automotivo,1889,590179.59,4.04,4210.0,9,41
9,ferramentas_jardim,749,485899.05,4.10,4356.0,10,35

📈 Category Performance Insights:
  • Top revenue category: beleza_saude (R$ 1,258,226.37)
  • Highest satisfaction: beleza_saude (4.18 stars)
  • Complex CTEs: sales → category → ranking analysis
  • Real business intelligence: revenue vs customer satisfaction trade-offs

💡 Advanced SQL Features Demonstrated:
  • Multi-level CTEs for complex business logic
  • Customer segmentation with CASE statements
  • Subqueries for dynamic threshold calculations
  • Window functions for ranking and percentiles
  • Real business intelligence metrics (CLV, satisfaction, performance)
  • Brazilian e-commerce insights with actual marketplace data

🎓 Educational Value:
  • Students see real SQL patterns used in business intelligence
  • Complex queries broken down into logical, reusable CTEs
  • Actual business insights from real e-commerce operations
  • Practical application of advanced SQL concepts

## 5. SQL vs Pandas: When to Use Each Approach

Let's compare the strengths of SQL versus pandas for different types of data operations using real performance data.

In [44]:
# Real SQL vs Pandas Performance Comparison
print("⚡ SQL vs Pandas: Real Performance Comparison")
print("\n" + "="*60)

# Example 1: Large Dataset Aggregation - SQL Advantage
print("\n📊 Example 1: Large Dataset Processing")
print("Task: Analyze customer distribution across Brazilian states")

if sales_tables:
    import time
    
    print("\n🗄️ SQL Approach (Recommended for large datasets):")
    start_time = time.time()
    
    # SQL handles 100K+ customers efficiently
    sql_customer_query = """
    SELECT 
        customer_state,
        COUNT(*) as customer_count,
        ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 1) as percentage
    FROM "olist_sales_data_set"."olist_customers_dataset"
    WHERE customer_state IS NOT NULL
    GROUP BY customer_state
    ORDER BY customer_count DESC
    LIMIT 10
    """
    
    sql_result = execute_query(db_engine, sql_customer_query)
    sql_time = time.time() - start_time
    
    print(f"✅ SQL Result ({sql_time:.3f} seconds):")
    display(sql_result)
    
    print("\n🐼 Pandas Approach (for smaller datasets):")
    print("Converting SQL result to pandas for additional analysis...")
    
    start_time = time.time()
    # Use pandas for statistical analysis on the aggregated result
    pandas_stats = {
        'total_customers': sql_result['customer_count'].sum(),
        'avg_customers_per_state': sql_result['customer_count'].mean(),
        'std_deviation': sql_result['customer_count'].std(),
        'max_concentration': sql_result['percentage'].max(),
        'top_3_states_share': sql_result.head(3)['percentage'].sum()
    }
    pandas_time = time.time() - start_time
    
    print(f"✅ Pandas Statistical Analysis ({pandas_time:.3f} seconds):")
    for metric, value in pandas_stats.items():
        if isinstance(value, float):
            print(f"  • {metric.replace('_', ' ').title()}: {value:.1f}")
        else:
            print(f"  • {metric.replace('_', ' ').title()}: {value:,}")

# Example 2: Time Series Analysis - SQL Excellence
print("\n" + "-"*50)
print("\n📅 Example 2: Time Series Analysis")
print("Task: Monthly order trends with growth calculations")

if sales_tables:
    print("\n🗄️ SQL Approach (Superior for date operations):")
    
    time_series_query = """
    SELECT 
        DATE_TRUNC('month', order_purchase_timestamp) as month,
        COUNT(*) as monthly_orders,
        LAG(COUNT(*), 1) OVER (ORDER BY DATE_TRUNC('month', order_purchase_timestamp)) as prev_month,
        CASE 
            WHEN LAG(COUNT(*), 1) OVER (ORDER BY DATE_TRUNC('month', order_purchase_timestamp)) IS NOT NULL
            THEN ROUND((COUNT(*) - LAG(COUNT(*), 1) OVER (ORDER BY DATE_TRUNC('month', order_purchase_timestamp))) * 100.0 / 
                       LAG(COUNT(*), 1) OVER (ORDER BY DATE_TRUNC('month', order_purchase_timestamp)), 1)
            ELSE NULL
        END as growth_rate
    FROM "olist_sales_data_set"."olist_orders_dataset"
    WHERE order_purchase_timestamp >= '2017-01-01' 
        AND order_purchase_timestamp < '2018-01-01'
    GROUP BY DATE_TRUNC('month', order_purchase_timestamp)
    ORDER BY month
    LIMIT 8
    """
    
    time_analysis = execute_query(db_engine, time_series_query)
    print("✅ SQL Time Series Analysis:")
    display(time_analysis)
    
    print("\n💡 SQL Advantages Demonstrated:")
    print("  • DATE_TRUNC() for efficient date grouping")
    print("  • LAG() window function for growth calculations")
    print("  • Complex aggregations in a single query")
    print("  • Database-optimized performance on large datasets")

# When to use each approach
print("\n" + "="*60)
print("\n🎯 Real-World Decision Framework:")

print("\n🗄️ Choose SQL when:")
print(f"  • Dataset size: {total_rows:,}+ rows (like our Olist database)")
print("  • Complex JOINs across multiple schemas")
print("  • Date/time operations and window functions")
print("  • Need to reduce data before analysis")
print("  • Database performance optimization required")

print("\n🐼 Choose Pandas when:")
print("  • Working with SQL results (< 1M rows typically)")
print("  • Statistical analysis and modeling")
print("  • Data visualization preparation")
print("  • Machine learning feature engineering")
print("  • Iterative data exploration")

print("\n🔄 Hybrid Approach (Best Practice):")
print("  1. Use SQL to filter and aggregate large datasets")
print("  2. Use pandas for analysis on manageable result sets")
print("  3. Leverage database performance + Python flexibility")
print("  4. Example: SQL → 100K rows to pandas → insights")

print("\n📈 Performance Insights:")
if 'sql_result' in locals():
    print(f"  • SQL handled {sql_result['customer_count'].sum():,} customer records efficiently")
    print(f"  • Pandas excelled at statistical analysis on aggregated results")
    print(f"  • Combined approach maximizes both tools' strengths")

comparison_insights = "Hybrid SQL-Pandas approach maximizes both performance and analytical capabilities"

⚡ SQL vs Pandas: Real Performance Comparison

============================================================

📊 Example 1: Large Dataset Processing
Task: Analyze customer distribution across Brazilian states

🗄️ SQL Approach (Recommended for large datasets):
✅ SQL Result (0.508 seconds):

  customer_state  customer_count  percentage
0             SP           41746        42.0
1             RJ           12852        12.9
2             MG           11635        11.7
3             RS            5466         5.5
4             PR            5045         5.1
5             SC            3637         3.7
6             BA            3380         3.4
7             DF            2140         2.2
8             ES            2033         2.0
9             GO            2020         2.0

🐼 Pandas Approach (for smaller datasets):
Converting SQL result to pandas for additional analysis...
✅ Pandas Statistical Analysis (0.010 seconds):
  • Total Customers: 89,954
  • Avg Customers Per State: 8995.4
  • Std Deviation: 12142.1
  • Max Concentration: 42.0
  • Top 3 States Share: 66.6

--------------------------------------------------

📅 Example 2: Time Series Analysis
Task: Monthly order trends with growth calculations

🗄️ SQL Approach (Superior for date operations):
✅ SQL Time Series Analysis:

       month  monthly_orders  prev_month  growth_rate
0 2017-01-01             800         NaN          NaN
1 2017-02-01            1780       800.0        122.5
2 2017-03-01            2682      1780.0         50.7
3 2017-04-01            2404      2682.0        -10.4
4 2017-05-01            3700      2404.0         53.9
5 2017-06-01            3245      3700.0        -12.3
6 2017-07-01            4026      3245.0         24.1
7 2017-08-01            4331      4026.0          7.6

💡 SQL Advantages Demonstrated:
  • DATE_TRUNC() for efficient date grouping
  • LAG() window function for growth calculations
  • Complex aggregations in a single query
  • Database-optimized performance on large datasets

============================================================

🎯 Real-World Decision Framework:

🗄️ Choose SQL when:
  • Dataset size: 1,558,490+ rows (like our Olist database)
  • Complex JOINs across multiple schemas
  • Date/time operations and window functions
  • Need to reduce data before analysis
  • Database performance optimization required

🐼 Choose Pandas when:
  • Working with SQL results (< 1M rows typically)
  • Statistical analysis and modeling
  • Data visualization preparation
  • Machine learning feature engineering
  • Iterative data exploration

🔄 Hybrid Approach (Best Practice):
  1. Use SQL to filter and aggregate large datasets
  2. Use pandas for analysis on manageable result sets
  3. Leverage database performance + Python flexibility
  4. Example: SQL → 100K rows to pandas → insights

📈 Performance Insights:
  • SQL handled 89,954 customer records efficiently
  • Pandas excelled at statistical analysis on aggregated results
  • Combined approach maximizes both tools' strengths

## 6. Error Handling and Best Practices

Production database applications require robust error handling and connection management.

In [ ]:
def demonstrate_error_handling():
    """
    Demonstrate proper error handling techniques for database operations.
    """
    print("🛡️ Database Error Handling and Best Practices")
    print("\n" + "="*60)
    
    # Example 1: Handling SQL syntax errors
    print("\n❌ Example 1: SQL Syntax Error Handling")
    try:
        # Intentional syntax error
        result = execute_query(db_engine, """
            SELCT * FROM "non_existent_schema"."non_existent_table"  -- Missing 'E' in SELECT
            WHERE some_column = 'value'
            LIMIT 5
        """)
    except Exception as e:
        print(f"✅ Caught SQL syntax error: {type(e).__name__}")
        print(f"   Error message: {str(e)[:100]}...")
    
    # Example 2: Handling schema/table not found
    print("\n🔍 Example 2: Schema/Table Not Found Error")
    try:
        if sales_tables:
            main_sales_table = sales_tables[0]
            schema, table = main_sales_table.split('.', 1)
            result = execute_query(db_engine, f"""
                SELECT customer_id, nonexistent_column 
                FROM "{schema}"."nonexistent_table"
                LIMIT 5
            """)
    except Exception as e:
        print(f"✅ Caught schema/table error: {type(e).__name__}")
        print(f"   Error message: {str(e)[:100]}...")
    
    # Example 3: Parameterized queries (SQL injection prevention)
    print("\n🔒 Example 3: Safe Parameterized Queries")
    
    def safe_data_lookup(engine, table_name, column_name, value):
        """
        Safely query data using parameterized queries.
        Note: Schema and table names can't be parameterized, so validate them first.
        """
        try:
            # Validate table exists (schema-qualified)
            if table_name not in db_info:
                raise ValueError(f"Table {table_name} not found")
            
            # Validate column exists
            if column_name not in db_info[table_name]['columns']:
                raise ValueError(f"Column {column_name} not found in {table_name}")
            
            # Split schema and table for proper quoting
            if '.' in table_name:
                schema, table = table_name.split('.', 1)
                table_ref = f'"{schema}"."{table}"'
            else:
                table_ref = f'"{table_name}"'
            
            # Use parameterized query for the value
            query = f"""
                SELECT COUNT(*) as record_count
                FROM {table_ref}
                WHERE "{column_name}" = %(search_value)s
            """
            result = execute_query(engine, query, params={'search_value': value})
            return result
        except Exception as e:
            print(f"❌ Query failed: {e}")
            return pd.DataFrame()
    
    # Test safe query
    if sales_tables:
        main_sales_table = sales_tables[0]
        available_columns = db_info[main_sales_table]['columns']
        location_cols = [col for col in available_columns if any(keyword in col.lower() for keyword in ['state', 'city', 'region'])]
        
        if location_cols:
            # Get a real value first
            schema, table = main_sales_table.split('.', 1)
            sample_query = f'SELECT DISTINCT "{location_cols[0]}" FROM "{schema}"."{table}" WHERE "{location_cols[0]}" IS NOT NULL LIMIT 1'
            try:
                sample_value = execute_query(db_engine, sample_query)
                if len(sample_value) > 0:
                    test_value = sample_value.iloc[0, 0]
                    safe_result = safe_data_lookup(db_engine, main_sales_table, location_cols[0], test_value)
                    if len(safe_result) > 0:
                        print(f"✅ Safe query returned {safe_result.iloc[0, 0]} records for '{test_value}'")
            except Exception as e:
                print(f"⚠️ Could not test safe query: {e}")
    
    # Example 4: Connection management with context managers
    print("\n🔌 Example 4: Proper Connection Management")
    
    def safe_database_query(engine, query, params=None):
        """
        Function-based safe database operations using context manager pattern.
        """
        try:
            with engine.connect() as conn:
                if params:
                    result = pd.read_sql(text(query), conn, params=params)
                else:
                    result = pd.read_sql(text(query), conn)
                return result
        except Exception as e:
            print(f"❌ Database error occurred: {type(e).__name__}: {e}")
            return pd.DataFrame()
    
    # Use function for safe operations
    try:
        result = safe_database_query(
            db_engine, 
            "SELECT 'Schema-aware connection test successful' as message"
        )
        if not result.empty:
            print(f"✅ Safe query function successful: {result.iloc[0, 0]}")
    except Exception as e:
        print(f"❌ Safe query function caught error: {e}")
    
    return "Error handling demonstrations complete"

# Run error handling demonstration
error_handling_results = demonstrate_error_handling()

print("\n📚 Database Best Practices Summary:")
print("  🔒 Always use parameterized queries to prevent SQL injection")
print("  🛡️ Implement comprehensive error handling for all database operations")
print("  🔌 Use connection context managers to ensure proper resource cleanup")
print("  ✅ Validate query results before processing in business logic")
print("  📊 Log query performance for optimization opportunities")
print("  🔄 Implement retry logic for transient connection issues")
print("  📝 Document query patterns and business logic for team maintenance")
print("  🗂️ Handle schema-qualified table names properly in multi-schema databases")
print("  🔍 Validate schema and table existence before executing queries")

## 7. Complete Marketing-Sales Bridge Analysis

Let's put everything together with a comprehensive real-world analysis that bridges marketing and sales data for actionable business insights.

In [ ]:
# Complete Marketing-Sales Bridge Analysis Solution
print("🎯 Marketing-Sales Bridge Analysis: Complete Solution")
print("📊 Business Goal: Connect marketing leads to actual revenue")
print("\n" + "="*60)

def marketing_sales_bridge_analysis():
    """
    Complete solution showing how to bridge marketing and sales data for business insights.
    Business Question: What is the ROI of our marketing channels?
    """
    
    # Step 1: Explore Marketing Dataset Structure
    print("\n📋 Step 1: Marketing Dataset Exploration")
    
    if marketing_tables:
        leads_table = 'olist_marketing_data_set.olist_marketing_qualified_leads_dataset'
        deals_table = 'olist_marketing_data_set.olist_closed_deals_dataset'
        
        # Get actual marketing data samples
        print("✅ Marketing Qualified Leads Structure:")
        leads_schema = get_table_schema(db_engine, leads_table)
        display(leads_schema)
        
        print("\n✅ Closed Deals Structure:")
        deals_schema = get_table_schema(db_engine, deals_table)
        display(deals_schema)
        
        # Step 2: Marketing Channel Performance Analysis
        print("\n📈 Step 2: Marketing Channel ROI Analysis")
        
        # Real business intelligence: Revenue per marketing channel
        channel_roi_query = """
        WITH marketing_performance AS (
            SELECT 
                l.origin as marketing_channel,
                COUNT(DISTINCT l.mql_id) as total_leads,
                COUNT(DISTINCT d.seller_id) as converted_deals,
                COALESCE(SUM(d.business_segment::numeric), 0) as total_deal_value,
                ROUND(COUNT(DISTINCT d.seller_id) * 100.0 / COUNT(DISTINCT l.mql_id), 1) as conversion_rate
            FROM "olist_marketing_data_set"."olist_marketing_qualified_leads_dataset" l
            LEFT JOIN "olist_marketing_data_set"."olist_closed_deals_dataset" d
                ON l.mql_id = d.mql_id
            WHERE l.origin IS NOT NULL
            GROUP BY l.origin
        )
        SELECT 
            marketing_channel,
            total_leads,
            converted_deals,
            conversion_rate,
            CASE 
                WHEN converted_deals > 0 THEN ROUND(total_deal_value / converted_deals, 2)
                ELSE 0
            END as avg_deal_value
        FROM marketing_performance
        ORDER BY converted_deals DESC, conversion_rate DESC
        """
        
        try:
            roi_analysis = execute_query(db_engine, channel_roi_query)
            print("✅ Marketing Channel ROI Analysis:")
            display(roi_analysis)
            
            if len(roi_analysis) > 0:
                best_channel = roi_analysis.iloc[0]
                print(f"\n🏆 Marketing Performance Insights:")
                print(f"  • Best performing channel: {best_channel['marketing_channel']}")
                print(f"  • Conversion rate: {best_channel['conversion_rate']}%")
                print(f"  • Generated {best_channel['converted_deals']} deals from {best_channel['total_leads']} leads")
                print(f"  • Average deal value: ${best_channel['avg_deal_value']:,.2f}")
        except Exception as e:
            print(f"❌ ROI analysis failed: {e}")
        
        # Step 3: Marketing Funnel Analysis
        print("\n🔄 Step 3: Complete Marketing Funnel")
        
        funnel_metrics_query = """
        WITH funnel_stages AS (
            SELECT 
                COUNT(DISTINCT mql_id) as total_leads,
                COUNT(DISTINCT CASE WHEN first_contact_date IS NOT NULL THEN mql_id END) as contacted_leads,
                0 as placeholder_for_deals
            FROM "olist_marketing_data_set"."olist_marketing_qualified_leads_dataset"
        ),
        deal_stats AS (
            SELECT COUNT(*) as total_deals
            FROM "olist_marketing_data_set"."olist_closed_deals_dataset"
        )
        SELECT 
            f.total_leads,
            f.contacted_leads,
            d.total_deals,
            ROUND(f.contacted_leads * 100.0 / f.total_leads, 1) as contact_rate,
            ROUND(d.total_deals * 100.0 / f.total_leads, 1) as overall_conversion_rate
        FROM funnel_stages f, deal_stats d
        """
        
        try:
            funnel_metrics = execute_query(db_engine, funnel_metrics_query)
            print("✅ Marketing Funnel Performance:")
            display(funnel_metrics)
            
            if len(funnel_metrics) > 0:
                metrics = funnel_metrics.iloc[0]
                print(f"\n📊 Funnel Optimization Insights:")
                print(f"  • Lead quality: {metrics['contact_rate']}% of leads were contacted")
                print(f"  • Overall conversion: {metrics['overall_conversion_rate']}% leads → deals")
                print(f"  • Optimization opportunity: Improve lead qualification process")
        except Exception as e:
            print(f"❌ Funnel analysis failed: {e}")
        
        # Step 4: Business Recommendations
        print("\n🎯 Step 4: Strategic Business Recommendations")
        
        # Calculate marketing efficiency metrics
        efficiency_query = """
        SELECT 
            origin as channel,
            COUNT(*) as leads_generated,
            AVG(CASE 
                WHEN first_contact_date IS NOT NULL 
                THEN EXTRACT(EPOCH FROM (first_contact_date - landing_page_date))/86400 
                ELSE NULL 
            END) as avg_response_time_days
        FROM "olist_marketing_data_set"."olist_marketing_qualified_leads_dataset"
        WHERE origin IS NOT NULL 
            AND landing_page_date IS NOT NULL
        GROUP BY origin
        ORDER BY leads_generated DESC
        LIMIT 5
        """
        
        try:
            efficiency_analysis = execute_query(db_engine, efficiency_query)
            print("✅ Marketing Efficiency Analysis:")
            display(efficiency_analysis)
            
            print(f"\n💼 Strategic Recommendations:")
            print(f"  • Focus budget on top-performing channels")
            print(f"  • Optimize response times for lead nurturing")
            print(f"  • Implement lead scoring based on conversion patterns")
            print(f"  • A/B test channel messaging to improve conversion rates")
        except Exception as e:
            print(f"❌ Efficiency analysis failed: {e}")

    return "Marketing-Sales bridge analysis complete"

# Execute the complete analysis
analysis_result = marketing_sales_bridge_analysis()

print("\n📚 Key Learning Outcomes:")
print("  ✅ Connected marketing and sales datasets using real foreign keys")
print("  ✅ Calculated actual ROI metrics for business decision-making")
print("  ✅ Built a complete marketing funnel analysis")
print("  ✅ Generated actionable business recommendations")
print("  ✅ Demonstrated advanced SQL joins across schemas")
print("  ✅ Applied real business intelligence to e-commerce data")

print("\n🎓 Skills Demonstrated:")
print("  • Multi-schema database navigation")
print("  • Complex JOIN operations with real business logic")
print("  • Marketing funnel analysis and ROI calculations")
print("  • Data validation and error handling")
print("  • Business insight generation from raw data")
print("  • Performance optimization for large datasets")

## 8. Key Takeaways and Next Steps

### What We've Accomplished:

1. **PostgreSQL Database Connection**
   - Connected to Supabase cloud PostgreSQL database
   - Established professional connection patterns with SQLAlchemy
   - Implemented proper resource management and error handling

2. **SQL Query Execution from Python**
   - Basic data exploration and filtering
   - Complex business intelligence with JOINs
   - Advanced analytics with window functions and CTEs

3. **Real-World Data Integration**
   - Worked with actual Olist e-commerce and marketing datasets
   - Adapted queries to real schema structures
   - Handled data quality issues and missing values

4. **Production-Ready Practices**
   - Error handling and validation
   - Parameterized queries for security
   - Connection pooling and resource management

### Business Value:

- **Real-time Analysis**: Connect directly to live business systems
- **Scalability**: Handle enterprise-scale datasets efficiently
- **Performance**: Leverage database engines for heavy computation
- **Security**: Proper authentication and query sanitization
- **Collaboration**: Multiple analysts accessing the same cloud data source

### When to Use SQL vs Pandas:

**Use SQL for:**
- Data extraction from large datasets
- Complex joins across multiple tables
- Window functions and analytical queries
- Business logic implementation with CASE statements
- Database-level performance optimization

**Use Pandas for:**
- Statistical analysis and modeling
- Data cleaning and transformation
- Visualization preparation
- Machine learning feature engineering
- Iterative data exploration

### Next Session Preview:
In our next sessions, we'll explore:
- Advanced SQL patterns for business intelligence
- Real-time data pipeline automation
- Combining SQL analytics with interactive visualizations
- Building automated reporting systems

**🎉 You now have the fundamental skills to connect Python to cloud databases and perform enterprise-level data analysis!**

In [ ]:
# Clean up database connection
print("🔒 Closing database connection...")
close_database_engine(db_engine)
print("✅ Session complete!")